---
import {Icon} from "astro-icon/components";
const {cardtheme, icon, title, text} = Astro.props;
---

<article class="flow" data-theme={cardtheme}>
    <Icon name={icon}/>
    <h5>{title}</h5>
    <p>{text}</p>
</article>

<style>

article{
    border-radius: 1.5rem;
    max-width: 40ch;
    padding-block: var(--space-l);
    padding-inline: var(--space-m);
    scroll-snap-align: center;
}

[data-theme="light"]{
    background-color: var(--gray-scale-1);
    
    h5 {color: var(--primary-color-3-default);}
    p {color: var(--gray-scale-6);}

}

[data-theme="dark"]{
    background-color: var(--primary-color-3-default);
    
    h5 {color: var(--gray-scale-05);}
    p {color: var(--gray-scale-1);}

}

[data-icon="tabel"], [data-icon="creditcard"], [data-icon="bank"], [data-icon="dollorsign"]{
        height: 2rem;
        width: 2rem;
    }


</style>