---
import {Icon} from "astro-icon/components";
const {title, text, link, icon} = Astro.props;
---

<article>
    <Icon name={icon}/>
    <h6>{title}</h6>
    <p>{text}</p>
    <a href={link}>Read More <Icon name="arrow"/></a>
</article>

<style>

[data-icon="arrow"] {
    width: 1rem;
    height: 1rem;
}

[data-icon="layers"], [data-icon="colums"], [data-icon="globe"], [data-icon="nut"] {
    width: 2.5rem;
    height: 2.5rem;
}


</style>