---
import {Icon} from "astro-icon/components";
const {title, text, link, icon} = Astro.props;
---

<article class="flow">
    <Icon name={icon}/>
    <h5>{title}</h5>
    <p>{text}</p>
    <div>
        <a href={link}>Read More</a>
        <Icon name="arrow"/>
    </div>
</article>

<style>

article{
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
}

h5 {
  --flow-space: var(--space-2);
}

[data-icon="arrow"] {
    width: 1rem;
    height: 1rem;
}

[data-icon="layers"], [data-icon="colums"], [data-icon="globe"], [data-icon="nut"] {
    width: 2.5rem;
    height: 2.5rem;
}


</style>